body div#pp_options {
	position: fixed;
	top: 0;
	left: 0;
	padding: 4px;
	background: #f0f0f0;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	opacity: 0.85;
	font-size: 11px;
	line-height: 1em;
}
body div#pp_options p {
  display: inline;
  color: #aaa;  
}
body div#pp_options ul {
  display: inline;
	margin: 0;
	padding: 0;
}
body div#pp_options li {
	display: inline;
	padding: 0 9px;
}
body div#pp_options li a {
	color: #999;
}
body div#pp_options li a.active {
	color: #000;
	background: #d4fb78;
}